
<header>
        <div  class="dropdown">
                <button class=" button5 dropbtn">{{username}}</button>
                
                <div class="dropdown-content">
                    
                  <a href=""  >{{fusername}}</a>
                  <a href=""  data-ng-click="gotoTeam()">Team</a>
                  <a href=""   data-ng-click="logout()"  >Logout</a>
                </div>
              </div>
               
       
</header>
<div class="bgclr">
<ui-view> </ui-view>
    </div>



    


